:root {
  --background-pear: #C9E78A;
  --background-apple: #FFA3BE;
  --background-exotic:  #C1BEFF;
}

@font-face {
  font-family: 'Clash Display Variable';
  src: url('./Font/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('./Font/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff') format('woff'); /* Legacy Browsers */
  font-weight: bold;
  font-style: bold;
}

.clash-display {
  font-family: 'Clash Display Variable';
  font-weight: bold;
}