.can-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.container {
  max-width: 13rem;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8rem;
}
.mask{
  margin: 20px auto;
  display: block;
  width: 640px;
  height: 28rem;
  -webkit-mask-image: url("../../Assets/Can.png");
  mask-image: url("../../Assets/Can.png");
  -webkit-mask-position: top left;
  mask-position: top left;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 13rem auto;
  mask-size: 13rem auto;
  z-index: 2;
}
.mask {
  display: block;
  width: 100%;

  mask-position: top left;
  mask-repeat: no-repeat;
  mask-size: 13rem auto;
  z-index: 2;
}


.label-imagem {
  position: relative;
  z-index: 2;
  height: 102%;
  left: 0rem;
  z-index: 2;
  mix-blend-mode: multiply;
  transition: transform 1.2s cubic-bezier(1, 0, 0, 1);
  transform: translateY(-42px);
}
.label-imagem-slider2 {
  transform: translate(-205px, -42px);
}
.label-imagem-slider3 {
  transform: translate(-410px, -42px);
}

.can-can {
  position: absolute;
  height: auto;
  width: 13rem;
  z-index: 2;
}

.shadow {
  position: absolute;
    left: -4rem;
    bottom: 4.5rem;
    width: 40rem;
    height: auto;
    transition: all 1.2s cubic-bezier(1, 0, 0, 1);
}

.shadow2 {
  position: absolute;
    left: -15rem;
    width: 20rem;
    bottom: 8rem;
    transition: all 1.2s cubic-bezier(1, 0, 0, 1);
}

.shadow3 {
  width: 20rem;
    position: absolute;
    top: 18rem;
    right: -19rem;
    transition: all 1.2s cubic-bezier(1, 0, 0, 1);
}
.leave1-image , .leave2-image {
  position: absolute;
  z-index: -1;
  transition: all 1.2s cubic-bezier(1, 0, 0, 1);
}

.leave1-image-slider1 {
  left: -2rem;
  top: -3.5rem;
  width: 8rem;
}
.leave1-image-slider2 {
  left: 9.5rem;
  top: 16rem;
  transform: rotate(60deg) scaleX(-1);
  width: 9rem;
}
.leave1-image-slider3 {
  left: -5rem;
  top: 16rem;
  transform: rotate(113deg) scale(-1);
  width: 9rem;
}

.leave2-image-slider1 {
  transition: all 1.2s cubic-bezier(1, 0, 0, 1);
  width: 6rem;
  bottom: 5rem;
  right: -4rem;
}
.leave2-image-slider2 {
  bottom: 26rem;
  right: 9rem;
  transform: rotate(21deg) scale(-1.5);
  width: 6rem;
}
.leave2-image-slider3 {
  transition: all 1.2s cubic-bezier(1, 0, 0, 1);
  bottom: 26rem;
  right: -3rem;
  width: 6rem;
  transform: rotate(0deg) scaleY(-1) scale(1.5);
}



@media screen and (max-width: 1440px) {
  .container {
    transform: translateX(-50%) scale(1.1);
  }
  .shadow2 {
    left: -11rem;
  }
  .shadow3 {
    right: -16rem;
  }
}


@media screen and (min-width: 1200px) {
  .container {
    transform: translateX(-50%) scale(1.2);
    top: 12rem;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    transform: translateX(-50%) scale(1.4);
    top: 16rem;
  }
}

@media screen and (min-width: 1800px) {
  .container {
    transform: translateX(-50%) scale(1.6);
    top: 18rem;
  }
}
@media screen and (min-width: 2000px) {
  .container {
    transform: translateX(-50%) scale(1.8);
    top: 22rem;
  }
}
@media screen and (min-width: 2200px) {
  .container {
    transform: translateX(-50%) scale(2);
    top: 24rem;
  }
}
@media screen and (min-width: 2400px) {
  .container {
    transform: translateX(-50%) scale(2.2);
    top: 27rem;
  }
}

