
.shop-taste-button {
  position: absolute;
  margin-top: 580px;
  margin-bottom: 2rem;
    box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  border: none;
 
  padding: 1.5rem 2.5rem;
  border-radius: 4rem;
  z-index: 3;
  transition: color 1s, background-color 1s;
  text-wrap: nowrap;
}


.button-slider1 {
  color: #077334;
  background-color: white;
}
.button-slider1:hover {
  color: white;
  background-color: #077334;
}

.button-slider2 {
  color: #B83224;
  background-color: white;
}
.button-slider2:hover {
  color: white;
  background-color: #B83224;
}

.button-slider3 {
  color: #433EB2;
  background-color: white;
}

.button-slider3:hover {
  color: white;
  background-color: #433EB2;
}


@media screen and (min-width: 1200px) {
  .shop-taste-button {
    bottom: auto;
    margin-top: 780px;
    box-sizing: border-box;
  }
}



@media screen and (min-width: 1600px) {
  .shop-taste-button {
    bottom: auto;
    margin-top: 780px;
    box-sizing: border-box;

  }
}
@media screen and (min-width: 1800px) {
  .shop-taste-button {
    bottom: auto;
    margin-top: 880px;
    box-sizing: border-box;
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 2000px) {
  .shop-taste-button {
    bottom: auto;
    margin-top: 980px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 2400px) {
  .shop-taste-button {
    bottom: auto;
    margin-top: 1080px;
    box-sizing: border-box;

  }
}


  
